*{
margin: 0;
padding: 0;
}


/* jumboton{
        background-color: #292b2c;
}
.div.jumbotron-fluid{
        background-color: brown;
        margin: 0px 0px 0px;
        padding: 0px 0px;
 } */



